* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', 'roboto', sans-serif;
}

:root {
    --primary-color: #FFCAB1;
    --bg-color: #69A2B0;
    --color-corret: rgb(56, 228, 79);
    --color-wrogn:: rgb(228, 56, 56);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.modal {
    width: 300px;
    height: 100px;
    background-color: var(--color-corret);
    border-radius: 20px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal h3 {
    color: aliceblue;
    font-size: 25px;
}

header {
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

div.title {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 3vw;
    font-weight: bold;
}

h2 {
    font-size: 2vw;
    font-weight: normal;
}

div.controlers {
    width:100%;
    height: 50px;
    background-color: rgb(240, 240, 240);
    display:flex;
    justify-content: center;
    align-items: center;
}

button.restart {
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    transition: .2s;
}

button.restart:hover {
    transform: scale(1.1);
}

main {
    width: 100vw;
    height: 55vh;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div.color {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px 2px #000000;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
}

div.color:hover {
    transform: scale(1.1);
}

@media screen and (max-width:1440px) {
    div.color {
        width:200px;
        height: 200px;
    }
}

@media screen and (max-width:1024px) {
    div.color {
        width:200px;
        height: 200px;
    }

    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 5.5vw;
    }
    h2 {
        font-size: 4.5vw;
    }

    main {
        height: 65vh;
        max-width: 600px;
    }

    div.color {
        width:170px;
        height: 170px;
    }
}

@media screen and (max-width:425px) {
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 7vw;
    }

    main {
        height: 40vh;
    }

    div.color {
        width:120px;
        height: 120px;
    }
}

@media screen and (max-width:425px) {
    div.color {
        width:100px;
        height: 100px;
    }
 }