* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'roboto', sans-serif;
}

:root {
    --primary-color: #FFCAB1;
    --bg-color: #69A2B0;
    --title-color: #424242;
    --color-corret: rgb(56, 228, 79);
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

section.modal {
    width: 400px;
    padding: 40px;
    background-color: var(--color-corret);
    border-radius: 10px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.modal h2 {
    color: aliceblue;
    font-size: 25px;
}

.modal h3 {
    color: aliceblue;
    font-size: 25px;
    display: flex;
}

.modal button {
    padding: 10px;
    background-color: aliceblue;
    color: var(--color-corret);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: .2s;
}

.modal button:hover {
    transform: scale(1.1);
}

header {
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--title-color);
}

div.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

h1 {
    font-size: 3vw;
    font-weight: bold;
}

h2 {
    font-size: 2vw;
    font-weight: normal;
}

div.controlers {
    width:100vw;
    height: 50px;
    background-color: rgb(240, 240, 240);
    display:flex;
    justify-content: center;
    align-items: center;
}

button.restart {
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: .2s;
}

button.restart:hover {
    transform: scale(1.1);
}

main {
    width: 100vw;
    height: 55vh;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div.color {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px 2px #000000;
    cursor: pointer;
    transition: 0.4s;
}

div.color:hover {
    transform: scale(1.1);
}

@media screen and (max-width:1440px) {
    div.color {
        width:200px;
        height: 200px;
    }
}

@media screen and (max-width:1024px) {
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 4.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }

    main {
        height: 50vh;
        max-width: 600px;
    }

    div.color {
        width:170px;
        height: 170px;
    }
    
    section.modal {
        width:400px;
        padding: 20px;
    }
}

@media screen and (max-width:575px) {
    main {
        height: 50vh;
        gap: 10px;
    }

    div.color {
        width: 135px;
        height: 135px;
    }
 }

@media screen and (max-width:425px) {
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 7vw;
    }

    main {
        height: 50vh;
        gap: 10px;
    }

    div.color {
        width: 120px;
        height: 120px;
    }

    section.modal {
        width:300px
    }
    .modal h2, .modal h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:375px) {
    main {
        height: 40vh;
    }

    div.color {
        width: 100px;
        height: 100px;
    }
 }

 @media screen and (max-width:340px) {
    main {
        height: 40vh;
        gap: 5px;
    }

    div.color {
        width: 100px;
        height: 100px;
    }
 }

 @media screen and (max-width:320px) {
    main {
        height: 50vh;
        gap: 15px;
    }

    div.color {
        width: 115px;
        height: 115px;
    }

    section.modal {
        width: 250px;
    }

    section.modal button {
        padding:5px;
        font-size: 18px;
    }
 }